{% extends "layout.html" %}

<!-- タイトル -->
{% block title %}404 Not Found{% endblock %}

<!-- コンテンツ -->
{% block content %}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">404 Not Found</h1>
            <p class="lead text-muted">ページが見つかりませんでした。削除されたかURLが誤っている可能性があります。</p>
            <p class="lead text-muted"><a href="/">Topに戻る</a></p>
        </div>
    </section>
</main>
{% endblock %}

<!-- フッター -->
{% block footer %}
{% endblock %}